<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neue Bestellung</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<div class="container">
<h1>Neues Datenset einfügen</h1>
<form action="/bestellungen" method="post">
    <label for="menge">Menge: </label><br/>
    <input type="number" name="menge" id="menge" min="0" max="10000" step="1" required />
    <br/>
    <br/>
    <label for="kunID">KundeID: </label><br/>
   <!-- <input type="text" id="kunID" name="kunID"/>-->
    <select name="kunID" id="kunID" required>
              {% for o in kunden %}
              <option value="{{ o }}">{{ o }}</option>
              {% endfor %}
    </select>
    <br/>
    <br/>
    <label for="proID">ProduktID: </label><br/>
    <!--<input type="text" id="proID" name="proID"/>-->
    <select name="proID" id="proID" required>
              {% for o in produkte %}
              <option value="{{ o }}">{{ o }}</option>
              {% endfor %}
    </select>
    <br/>
    <br/>
    <input class="button" type="submit" value="submit"/>
</form>
</div>
</body>
</html>